<!DOCTYPE html>
<html>
  <head>
    <title>Vue 3 Basic</title>
  </head>
  <style>
    .box{
      background-color: purple;
      height: 200px;
      width: 200px;
    }
    .box.two{
      background-color: red;
    }
    .box.three{
      background-color: blue;
    }
    /* hide tags before Vue finishes loading */
    [v-cloak]{
      display: none;
    }
  </style>
  <body>
    <div id="app" v-cloak>
      {{greeting}}
      <!-- two way data binding -->
      <!-- Vue listening keyup and enter event -->
      <input @keyup.enter="greet(greeting)" v-model="greeting" /><hr>

      <!-- <button v-on:click="isVisible1 = !isVisible1">Toggle box</button> -->
      <!-- <button @click="isVisible1 = !isVisible1">Toggle box</button> -->
      <!-- @click.right: only right click the mouse will trigger this event -->
      <!-- @click.prevent: prevent default event -->
      <button @click="toggleBox">Toggle box</button>

      <!-- conditional/v-show can also do show method in DOM (display: none)-->
      <div v-if="isVisible1" class="box one"></div>
      <div v-else-if="isVisible2" class="box two"></div>
      <div v-else class="box three"></div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: function(){
          return { greeting: 'Hello Vue 3!', isVisible1: false, isVisible2: true }
        },
        methods: {
          toggleBox: function(){
            this.isVisible1 = !this.isVisible1
          },
          greet(greeting){
            console.log(greeting)
          }
        }
      })
      app.mount('#app')
    </script>
  </body>
</html>